
h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
    text-align: center;
}
p{
    font-size: 35px;
    text-align: center;
}
button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    margin-left: 50%;
    transform: translate(-50% , -50%);
    margin-top: 50px;
}
button:hover{
    background-color: green;
}